<!-- ============================================================== -->
<!-- Search -->
<!-- ============================================================== -->
<li class="nav-item d-none d-md-block">
    <a class="nav-link" href="javascript:void(0)">
        <form>
            <div class="customize-input">
                <input class="form-control custom-shadow custom-radius border-0 bg-white"
                    type="search" placeholder="Search" aria-label="Search">
                <i class="form-control-icon" data-feather="search"></i>
            </div>
        </form>
    </a>
</li>