<!-- ============================================================== -->
<!-- Logo -->
<!-- ============================================================== -->
<div class="navbar-brand">
    <!-- Logo icon -->
    <a href="index.html">
        <b class="logo-icon">
            AdminSys
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span class="logo-text">
            V1
        </span>
    </a>
</div>
<!-- ============================================================== -->
<!-- End Logo -->
<!-- ============================================================== -->